.container1 {
    max-width: 500px;
    margin: auto;
    margin-bottom: 2em;
  }
  
  h2 {
    text-align: center;
  }
  
  .text-danger {
    margin-top: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  .text-danger {
    margin-top: 20px;
  }